body{
    font-family: 'work sans', sans-serif;
    margin-left: 300px;
    margin-top: 150px;
    background-color: aqua;
    
}

.time{
    position: relative;
    left: 120px;
    top: 120px;
    background-color: black;
    color: white;
    border: 10px solid white;
    box-shadow: 0 5px 20px black,
                0 5px 20px 0 black;
    padding: 8px;
    text-align: center;
    width: 500px;
  
}      

.hms{
    font-size: 68pt;
    font-weight: 200;
    min-height: 480px;
    max-height: 700px;
    min-width: 480px;
    max-width: 700px;
    

}

.ampm{
    font-size: 22pt;
  

}

.date{
    font-size: 15pt;
 
}

h1{
    position: relative;
    left: 250px;
    font-weight: bolder;
    font-size: xx-large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-shadow: 5px 5px white;
  
}


